/* colors */

$p-light: #7953d2;
$p-dark: #000070;
$s-light: #ffab00;
$s-dark: #c67c00;
$base-color: #fafafa;

/* font-sizes */
$font-small: 12px;
$font-form-label: 14px;
$font-medium: 18px;
$font-large: 24px;

/* sizes */

$xtiny: 10px;
$tiny: 15px;
$mini: 20px;
$small: 25px;
$base: 30px;
$medium: 40px;
$large: 60px;
